
<div id="<%= dom_id annoncement %>">
  <p>
    <strong>Title:</strong>
    <%= annoncement.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= annoncement.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= annoncement.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= annoncement.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= annoncement.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= annoncement.category_id %>
  </p>

</div>
